<div id="<%= dom_id category %>">
  <p>
    <strong>Titulo:</strong>
    <%= category.title %>
  </p>
  <p>
    <strong>Tipo:</strong>
    <% if category.is_income %>
      <%= "Ingreso" %>
    <% else %>
      <%= "Egreso" %>
    <% end %>
  </p>

</div>